<h1 id="chatroom-h1">Help Chat for <%= @yarn.name %></h1>

  <div class="card-chatroom">
    <%= render 'shared/yarn', yarn: @yarn %>
  </div>
<div id="messages">

  <div id="messages-list" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'shared/message', message: message %>
    <% end %>
  </div>


  <div class="chat-send-message">
  <%= simple_form_for [@yarn, @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Write your message",
  :input_html => {:style=> 'width: 600px'}%>
    <%= f.submit "Post Message", class: 'btn btn-primary' %>
  <% end %>
  </div>

</div>

