
<div class="card-product">
    <img src="<%= yarn.image_url.present? ? yarn.image_url : 'https://res.cloudinary.com/dzuoumhdx/image/upload/v1621985362/yarn_xlqcff.jpg' %>" />
    <div class="card-product-infos">
      <h2><%= link_to yarn.name,  yarn_path(yarn) %></h2>
      <h3><%= yarn.brand.name %></h3>
      <p><strong>Weight: </strong> <%= yarn.weight %></p>
      <p><strong>Gauge: </strong> <%= yarn.gauge %></p>
      <p><strong>Fiber: </strong> <%= yarn.materials[0].fiber_type %> <%= yarn.materials[0].percentage %>% </p>
      <p><strong>Needles: </strong> <%= yarn.needles %>mm</p>
      <div class="moreinfo" >
        <%= link_to "More info", yarn_path(yarn) %>
      </div>
    </div>

  </div>
