<img src="<%= @gauge.image_url %>" />
<h2>Info:</h2>
<p>Gauge: <%= @gauge.gauge %></p>
<p>Needles: <%= @gauge.needles %></p>
<p>User: <%= @gauge.user.username %></p>

<h2>Yarns:</h2>
<% @gauge.yarns.each do |t| %>
<p>Yarn Name: <%= t.name %></p>
<p>Yarn Weight: <%= t.weight %></p>
<% end %>

