<h1 id="h1-gs">Your Swatch Info</h1>

<div class="center">
  <div class="buttons-gs-all">
  <%= link_to "Create a Gauge Swatch", new_gauge_swatch_path,  {:style=>'width:250px;', class: 'btn btn-primary'}  %>
  <%= link_to "See my Gauges Swatches", my_gauges_gauge_swatches_path, {:style=>'width:250px;', class: 'btn btn-primary'}  %>
</div>
</div>



<div class="container-show-gs">
  <div class="show-card-gs">
    <div class="show-img-gs">
      <%= cl_image_tag @gauge.image_url.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="show-card-infos-gs">
      <h2>Information:</h2>
      <p><strong>Gauge: </strong><%= @gauge.gauge %></p>
      <p><strong>Needles: </strong><%= @gauge.needles %></p>
      <p><strong>User: </strong><%= @gauge.user.username %></p>

      <h2>Yarns used in this swatch:</h2>
      <% @gauge.yarns.each do |t| %>
        <p><%= t.name %> by <%= t.brand.name %></p>
      <% end %>
    </div>
  </div>
</div>
