<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzuoumhdx/image/upload/v1620813457/swatch_img_netfll.jpg);">
  <div class="container">
    <h1><strong>YarnAlt</strong></h1>
    <p>Find yarn alternatives to your projects</p>
  </div>
</div>



<p>Find me in app/views/pages/home.html.erb</p>


  <h2>This is the body of my homepage</h2>

<% @yarns = Yarn.all %>
<% @materials = Material.all %>
<% @brands = Brand.all %>
<div class="grid-container">
  <% @yarns.each do |yarn| %>
  <div class="card-product">
    <img src="<%= yarn.image_url %>" />
    <div class="card-product-infos">
      <h2><%= yarn.name %></h2>
      <h3>yarn.brand.name</h3>
      <p><strong>Weight: </strong> <%= yarn.weight %></p>
      <p><strong>Gauge: </strong> <%= yarn.gauge %></p>
      <p><strong>Fiber: </strong> <%= yarn.materials.name %></p>
      <p><strong>Needles: </strong> <%= yarn.needles %>mm</p>
      <p>More info...</p>
    </div>
  </div>
  <% end %>
</div>

