<% @yarns = Yarn.all %>
<% @materials = Material.all %>
<% @brands = Brand.all %>
<div class="grid-container">
  <% @yarns.each do |yarn| %>
  <div class="card-product">
    <img src="<%= yarn.image_url %>" />
    <div class="card-product-infos">
      <h2><%= yarn.name %></h2>
      <h3>yarn.brand.name</h3>
      <p><strong>Weight: </strong> <%= yarn.weight %></p>
      <p><strong>Gauge: </strong> <%= yarn.gauge %></p>
      <p><strong>Fiber: </strong> <%= yarn.materials.name %></p>
      <p><strong>Needles: </strong> <%= yarn.needles %>mm</p>
      <p>More info...</p>
    </div>

  </div>
  <% end %>
</div>
