
<div class="container">

  <div class="show-card">

    <div class="show-card-infos">
      <h2><%= @yarn.name %></h2>

      <h3><%= @yarn.brand.name %></h3>
      <p><strong>Weight: </strong> <%= @yarn.weight %></p>
      <p><strong>Gauge: </strong> <%= @yarn.gauge %> sts</p>
      <p><strong>Fiber: </strong> <% @yarn.materials.each do |material| %>
      <%= material.percentage %>% <%= material.fiber_type%>
      <% end %>

      </p>
      <p><strong>Needles: </strong> <%= @yarn.needles %>mm</p>
      <p><strong>Availability:  </strong><%= @yarn.brand.location %> </p>
    </div>

    <div class="show-img">
      <img src="<%= @yarn.image_url %>" />

<!--     usar background image, colocar direto na div 21 -->
    </div>

  </div>

  <%= link_to 'Favoritar', yarn_favourites_path(@yarn), method: :post, class: 'btn btn-flat' %>



 <h3>Equivalent Yarns</h3>
 </div>
  <div class="grid-container">
  <% @yarn_equivalents.each do |yarn| %>
    <%= render 'shared/yarn', yarn: yarn %>
  <% end %>

  </div>


