<div class="container d-flex justify-content-around mt-4">

  <div class="show-card">

    <div class="show-img">
      <img src="<%= @yarn.image_url.present? ? @yarn.image_url : 'https://res.cloudinary.com/dzuoumhdx/image/upload/v1621985362/yarn_xlqcff.jpg' %>" />
    </div>

    <div class="show-info-fav">
      <div class="show-card-infos">
        <h2><%= @yarn.name %></h2>

        <h3><%= @yarn.brand.name %></h3>
        <p><strong>Weight: </strong> <%= @yarn.weight %></p>
        <p><strong>Gauge: </strong> <%= @yarn.gauge %> sts</p>
        <p><strong>Fiber: </strong> <% @yarn.materials.each do |material| %>
        <%= material.percentage %>% <%= material.fiber_type%>
        <% end %>

        </p>
        <p><strong>Needles: </strong> <%= @yarn.needles %>mm</p>
        <p><strong>Availability:  </strong><%= @yarn.brand.location %> </p>
        <% if @yarn.discontinued == true %>
          <p>*This yarn has been discontinued.</p>
        <% end %>
      </div>

      <div class="fav-button">

        <% if current_user %>
          <% @fav = current_user.favourites.where(yarn_id: @yarn.id) %>
        <% else %>
          <% @fav = [] %>
        <% end %>

       <%# <% unless @fav == [] %> 
       <% if @fav == [] %>
          <%= link_to favourites_yarn_path(@yarn), method: :delete, class: 'red-heart', id: 'red-heart', remote: true, style: 'display: none' do %>
            <i class="fas fa-heart"></i>
          <% end %>
          <%= link_to yarn_favourites_path(@yarn), method: :post, class: 'gray-heart', id: 'gray-heart', remote: true do %>
            <i class="fas fa-heart"></i>
          <% end %>
        
        <% else %>

          <%= link_to favourites_yarn_path(@yarn), method: :delete, class: 'red-heart', id: 'red-heart', remote: true do %>
            <i class="fas fa-heart"></i>
          <% end %>
          <%= link_to yarn_favourites_path(@yarn), method: :post, class: 'gray-heart', id: 'gray-heart', remote: true, style: 'display: none' do %>
            <i class="fas fa-heart"></i>
          <% end %>

        <% end %>

        <%# <% end %> 
      </div>
    
      <% if @chatroom[0].nil? %>
        <%= link_to 'Create the chat of this product', yarn_chatrooms_path(@yarn), method: :post, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Open the chat of this product', yarn_chatroom_path(yarn_id: @chatroom[0].yarn_id, id: @chatroom[0].id), method: :get, class: 'btn btn-primary' %>
      <% end %>
    
    </div>

  </div>
  <div class="yarn-list">

    <div class="showtitle">
      <h3>Equivalent Yarns</h3>
   </div>

   <% @yarn_equivalents.each do |yarn| %>
      <%= render 'shared/yarn', yarn: yarn %>
    <% end %>

  </div>

 </div>

