
<div class="container d-flex justify-content-around mt-4">

  <div class="show-card">

    <div class="show-card-infos">
      <h2><%= @yarn.name %></h2>

      <h3><%= @yarn.brand.name %></h3>
      <p><strong>Weight: </strong> <%= @yarn.weight %></p>
      <p><strong>Gauge: </strong> <%= @yarn.gauge %> sts</p>
      <p><strong>Fiber: </strong> <% @yarn.materials.each do |material| %>
      <%= material.percentage %>% <%= material.fiber_type%>
      <% end %>

      </p>
      <p><strong>Needles: </strong> <%= @yarn.needles %>mm</p>
      <p><strong>Availability:  </strong><%= @yarn.brand.location %> </p>
      <% if @yarn.discontinued == true %>
        <p>*This yarn has been discontinued.</p>
      <% end %>
    </div>

    <div class="show-img">
      <img src="<%= @yarn.image_url %>" />
<!--     usar background image, colocar direto na div 21 -->
    </div>
<!-- usar background image, colocar direto na div 21 -->

=======

  <% @flag = 0 %>
  <% @fav = Favourite.where(user: current_user) %>
  <% @fav.each do |fav| %>
    <% @flag = 1 if(fav.yarn.id == @yarn.id)  %>
  <% end %>

  <% if(@flag == 1) %>
    <%= link_to 'Remover dos favoritos', favourite_path(@favourite[0].id), method: :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Adicionar aos favoritos', yarn_favourites_path(@yarn), method: :post, class: 'btn btn-primary' %>
  <% end %>

  <div class="yarn-list">
   <% @yarn_equivalents.each do |yarn| %>

      <%= render 'shared/yarn', yarn: yarn %>
    <% end %>
  </div>
 </div>

  
  <%# <div class="grid-container">
    <h3>Equivalent Yarns</h3>
   
  </div> %>


