<!DOCTYPE html>
<html>
  <head>
    <title>YarnAlt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
<br>
<!--     MM notes start -->
    <p>Here we will place the banner with logo of the site, with a short description of the site</p>
<!--     MM notes end -->
<br>
<!--     MM notes start -->
    <p>Here we will place the search box and filtering options.</p>
<!--     MM notes end -->
<br>
    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
